@page
@using MySql.Data.MySqlClient
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Login";
}

@functions{
    public string imShow(byte[] data, int type)
    {
            //data:[<mime type>][;charset=<Zeichensatz>][;base64],<Daten>
            string b64 = Convert.ToBase64String(data, 0, data.Length);
            switch(type)
            {
                    case 0: //jpg
                            return "data:image/jpg;base64," + b64;
    
                    case 1: //png
                            return "data:image/png;base64," + b64;
    
                    case 2: //bmp
                            return "data:image/bmp;base64," + b64;
    
                    case 4: //gif
                            return "data:image/gif;base64," + b64;
    
                    default:
                            return "data:image/jpg;base64," + b64;
            }
            
    }

}

@{

    String name="";
    String altText="";
    String titel="";
    String bindaten="";
    String Copyright="";
    String Beschreibung="";
    String preis = "";
    int idInt=0;
    String id = Request.Query["id"].ToString();
    MySqlConnection con = new MySqlConnection("Server=localhost;Port=3306;Database=emensa;Uid=denis;Pwd=;");

    try
    {

        // hier öffnen Sie die Verbindung zu, DBMS 
        con.Open();
        

        String query = @"SELECT m.`Name`, m.Beschreibung, b.`Alt-Text`, b.Titel, b.`Binärdaten`, b.Copyright FROM Mahlzeiten AS m 
                        JOIN MahlzeitenBilder mb ON mb.IDMahlzeiten=m.ID
                        JOIN Bilder b ON b.ID=mb.IDBilder 
                        WHERE m.ID=" + id;


        if(!int.TryParse(id, out idInt)){
            // Schicke nutzer zurück zur Startseite
            //Response.Redirect("Start");
            <meta http-equiv="refresh" content="3; url=/" />

            <div class="alert-info margin-top-row padding-alert">
                <p>
                    Die angegebene id ist keine Zahl!
                </p>
            </div>
            
            return;

        }

        // Achtung, Tür und TOr offen für SQL Injection Attacks, aber zu Demonstrationszwecken okay
        MySqlCommand command = new MySqlCommand(query, con);

        // SQL Befehl absetzen und direkt in "reader" speichern
        MySqlDataReader reader = command.ExecuteReader();
        if(reader.Read()){
            name = reader["Name"].ToString();
            altText = reader["Alt-Text"].ToString();
            titel = reader["Titel"].ToString();
            bindaten = imShow((byte[]) reader["Binärdaten"],1);
            Copyright = reader["Copyright"].ToString();
            Beschreibung = reader["Beschreibung"].ToString();
            con.Close();
            con.Open();
            String preisQuery = @"SELECT p.Gastpreis from Preise p WHERE p.fkMahlzeiten=" + id;
            MySqlCommand preisCommand = new MySqlCommand(preisQuery,con);
            MySqlDataReader preisReader = preisCommand.ExecuteReader();
            if(preisReader.Read()){
                preis = preisReader["Gastpreis"].ToString();
                preis += "€";                
            } else {
                preis = "Kein Preis verfügbar!";
            }
        }
        else{
            // Schicke nutzer zurück zur Startseite
            //Response.Redirect("Start");
            <meta http-equiv="refresh" content="3; url=/" />

            <div class="alert-info margin-top-row padding-alert">
                <p>
                    Das Angeforderte Produkt ist nicht verfügbar!
                </p>
            </div>
            
            return;

        }
    }
    catch (Exception ex)
    {
        <p class="danger">
            DANGER! in rot ;)
            <br />@ex.Message
        </p>
    }
    finally{
        // Verbindung nicht mehr nötig
        con.Close();
    }

}

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <h2>Details für @name</h2>
    </div>
</div>

<div class="row no-border margin-top-row">
    @if(string.IsNullOrEmpty(HttpContext.Session.GetString("user"))){
        <partial name="_loginForm" view-data="ViewData" />
    }
    else{
        <partial name="_loggedIn" view-data="ViewData" />
    }
    <div class="col-md-6">
        <div>
            <img class="splash" src='@bindaten' alt='@altText' />
            <small class="copyright">
                    <a href='@Copyright' target="_blank">@titel</a>
            </small>
        </div>
        <div class="tabs-content">
            


            <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                            Beschreibung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                            Zutaten</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                            Bewertungen</a>
                    </li>
            </ul>
            <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>
                            @Beschreibung
                    </p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <ul class="list-unstyled">

                        @{


                            MySqlConnection indCon = new MySqlConnection("Server=localhost;Port=3306;Database=emensa;Uid=denis;Pwd=;");
                            try{

                                indCon.Open();
                                String indQuery = @"SELECT z.`Name` FROM MahlzeitenZutaten AS mz 
                                JOIN Zutaten AS z ON z.ID=mz.IDZutaten 
                                WHERE mz.IDMahlzeiten=" + id;

                                // Achtung, Tür und TOr offen für SQL Injection Attacks, aber zu Demonstrationszwecken okay
                                MySqlCommand indCommand = new MySqlCommand(indQuery, indCon);    
                                MySqlDataReader ingredientsReader = indCommand.ExecuteReader();

                                while (ingredientsReader.Read())
                                {
                                    <li class="list-group-item">@ingredientsReader["Name"].ToString()</li>        
                                }

                            }catch(Exception exep){
                                <p class="danger">
                                    DANGER! in rot ;)
                                    <br />@exep.Message
                                </p>
                            }finally{
                                indCon.Close();
                            }

                        }
                    </ul>
            </div>
            <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <form method="post" action="http://bc5.m2c-lab.fh-aachen.de/form.php">
                        <input type="hidden" value="3005136" name="matrikelnummer" />
                        <input type="hidden" value="beh" name="kontrolle" />
                        <div class="form-group">
                            <label for="bewertung-bemerkung">Bemerkung</label>
                            <textarea name="bemerkung" id="bewertung-bemerkung" class="form-control" cols="15" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="bewertung-benutzer">Benutzer</label>
                            <input type="text" class="form-control" name="benutzer" id="bewertung-benutzer" />
                        </div>
                        <div class="form-group">
                            <label for="bewertung-bewertung">Bewertung <span class="glyphicon glyphicon-star"></span></label>
                            <select name="bewertung" class="form-control" id="bewertung-bewertung">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default">Senden</button>
                    </form>
            </div>
            </div>

        </div>
    </div>
    <div class="col-md-3">
        <div>
            @{
                @:<span>Gast</span>
            } Preis 
            <div>
                <b>
                    @preis
                </b>
            </div>
        </div>
        <div class="margin-top-row">
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-cutlery"></span>
                Vorbestellen
            </button>
        </div>
    </div>
</div>
