@model IEnumerable<emensa.Models.Benutzer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nutzername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aktiv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vorname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nachname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geburtsdatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nutzername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aktiv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nachname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geburtsdatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alter)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Nummer">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Nummer">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Nummer">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
